body{
    
    background-size: cover;
    min-height: 100vh;
    position: center;
}


#container{
    background-color: white; 
    margin-top: 1rem;
    border-style: solid;
    border-radius: 1rem;
    width: 17rem;
    height: 30rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
}

#head{
    background-color: white;
    border-style: solid;
    border-radius: 1rem;
    height: 7rem;
}

h1{
    color: blueviolet;
    margin-top: 2rem;
    padding-left: 5rem;
}

#search{
    padding-left: 2rem;
    margin-left: 65rem;
    border-radius: 1rem;
    height: 50px;
    width: 200px;
    border: solid;

}

#gas1, #gas2,#gas3, #gas4, #gas5, #gas6{

    margin-top: 3rem;
    border-style: solid;
    height: 160px;
    width: 260px;
    margin-left: 7rem;
    border-radius: 1rem;
}

#cont{
    display: inline;
}

h4{
    margin-top: 1rem;
    padding-left: 11.5rem;
    font-size: large;
}
.nav li{
    display: inline-block;
}

#search:focus{
    outline: none !important;
}