body{
    /* background-image: url(./wallpaper//pexels-photo-271639.jpeg); */
    /* background-size: cover; */
    position: center;
    background-repeat: no-repeat;
    /* background-size: 500px; */   
}


#container{
    background-color: white; 
    margin-top: 1rem;
    border-style: solid;
    border-radius: 1rem;
    width: 17rem;
    height: 30rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
}

#head{
    background-color: white;
    border-style: solid;
    border-radius: 1rem;
    height: 7rem;
}

h1{
    color: blueviolet;
    margin-top: 2rem;
    padding-left: 5rem;
}

#search{
    margin-left: 65rem;
    border-radius: 1rem;
    height: 50px;
    width: 200px;
    border: solid;

}
#search:focus{
    outline: none !important;
}

#hot1, #hot2,#hot3, #hot4, #hot5, #hot6{
    margin-top: 3rem;
    border-style: solid;
    height: 200px;
    width: 300px;
    margin-left: 5rem;
    border-radius: 1rem;
}

#cont{
    display: inline;
}

#Hotel1{
    padding-left: 9rem;
    margin-top: 1rem;
    font-size: large;
}

#Hotel2{
    padding-left: 10rem;
    margin-top: 1rem;
    font-size: large;
}

#Hotel3{
    padding-left: 10rem;
    margin-top: 1rem;
    font-size: large;
}

#Hotel4{
    padding-left: 10rem;
    margin-top: 1rem;
    font-size: large;
}

#Hotel5{
    padding-left: 10rem;
    margin-top: 1rem;
    font-size: large;
}

#Hotel6{
    padding-left: 10rem;
    margin-top: 1rem;
    font-size: large;
}
.nav li{
    display: inline-block;
}

#hot1{
    background-image: url("./hotelsnapshots/belvedereResort.webp");
    background-repeat: no-repeat;
    background-position: center center;
}

#hot2{
    background-image: url("./hotelsnapshots/bonhotel.webp");
    background-repeat: no-repeat;
    background-position: center center;
}
#hot3{
    background-image: url("./hotelsnapshots/cihcotel.webp");
    background-repeat: no-repeat;
    background-position: center center;
}

#hot4{
    background-image: url("./hotelsnapshots/cosmillla.webp");
    background-repeat: no-repeat;
    background-position: center center;
}
#hot5{
    background-image: url("./hotelsnapshots/cresentspring.webp");
    background-repeat: no-repeat;
    background-position: center center;
}
#hot6{
    background-image: url("./hotelsnapshots/degeogold.webp");
    background-repeat: no-repeat;
    background-position: center center;
}

#hot1:hover, #hot2:hover, #hot3:hover, #hot4:hover, #hot5:hover, #hot6:hover{
    transform: scale(1.5);
    transition-duration: 1s;
}